<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job application</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="registation">
        <form class="main">
            <h1 class="title">Job Application Form</h1>
            <div class="basic">
                <fieldset class="bd1">
                    <legend class="l1">Baisc Details
                    </legend>
                    <div class="fields1">
                        <div>
                            <label>First Name:</label>
                            <input type="text" name="" id="FirstName">
                        </div>

                        <div><label>Last Name:</label>
                            <input type="text" name="" id="LastName">
                        </div>



                    </div>
                    <div class="field2">
                        <div><label>Designation:</label>
                            <input type="text" name="" id="Designation">
                        </div>
                        <div>
                            <label>Address-1:</label>
                            <input type="text" name="" id="Address-1">
                        </div>

                    </div>
                    <div class="field3">
                        <div>
                            <label>Email:</label>
                            <input type="text" name="" id="email">
                        </div>

                        <div>
                            <label>Address-2:</label>
                            <input type="text" name="" id="Address-2">
                        </div>

                    </div>
                    <div class="field4">
                        <div>
                            <label>Phone Number:</label>
                            <input type="number" name="" id="Phone_Number">
                        </div>

                        <div>
                            <label>City:</label>
                            <input type="text" name="" id="City">
                        </div>

                    </div>
                    <div class="field5">
                        <div>
                            <label>Zip-code:</label>
                            <input type="text" name="" id="Zip-code">
                        </div>



                        <div>
                            <label>Gender:</label>
                            <input class="l-legend" type="radio" id="gChoice1" name="gender" value="male" />
                            <label size="20px" for="gChoice1">Male</label>

                            <input class="l-legend" type="radio" id="gChoice2" name="gender" value="phone" />
                            <label for="gChoice2">Female</label>

                            <input class="l-legend" type="radio" id="gChoice3" name="gender" value="mail" />
                            <label for="gChoice3">Other </label>
                        </div>

                    </div>
                    <div class="field6">
                        <div><label for="Relationship">Relationship Status:</label>

                            <select name="Relationship" id="Relationship">
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                            </select>
                        </div>

                        <div>
                            <label>State:</label>
                            <select name="State" id="State">
                                <option value="Gujarat">Gujarat</option>
                                <option value="Maharastra">Maharastra</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Dehli">Dehli</option>
                                <option value="TamilNadu">TamilNadu</option>
                            </select>
                        </div>
                        <div>

                            <label for="birthday">Date of Birth:</label>
                            <input type="date" id="dob" name="dob">
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>


    </div>

    </div>
    </form>
    </div>
</body>.
<script src="app.js"></script>

</html>